.row {
  text-align: center;
}
.choices {
  display: flex;
  justify-content: space-between;
}
body {
  font-size: 22px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #ededed;
  color: #2e6e6e;
}
